
<!-- 
<hr class="uk-grid-divider"> -->


<div class="uk-grid" data-uk-grid-margin="">

    <div class="uk-width-medium-7-10 uk-row-first">

        <div class="uk-grid" data-uk-grid-margin="">
            <div class="uk-width-medium-4-10">
                <h1 class="uk-text-primary"> Latest Events</h1>
            </div>
            <div  class="uk-width-medium-3-10 ">
                <a href="/event_new" class="uk-width-1-1 uk-button uk-button-primary uk-button-large"><i class="uk-icon-lightbulb-o"></i>&nbsp;&nbsp;Schedule an Event</a>
            </div>
            <div id="esearch" class="uk-width-medium-3-10">
                <div class="uk-form-icon uk-float-right uk-width-1-1 uk-autocomplete" data-uk-autocomplete="{source:'/event_pick.json'}">
                <i class="uk-icon-search"></i>
                <input type="text" class="uk-form-large uk-width-1-1" placeholder="Search">
                <script type="text/autocomplete">

                </script>
            </div>
            </div>
        </div>
        <br><br>

    </div>



</div>

<!-- end events and desc -->
